<% if message.errors.any? %>
  <div class="alert alert-danger">
    <% message.errors.full_messages.each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
<% end %>

<%= simple_form_for [chat, message] do |f| %>
  <%= f.input :content,
              label: "Ask a question",
              required: true,
              placeholder: "e.g., I'm in Surry Hills, intermediate, free Tue/Thu 6–8pm" %>
  <%= f.button :submit, "Send", class: "btn btn-primary" %>
<% end %>
